name: CI
on:
  pull_request:
  push:
    branches: [main]

jobs:
  shellcheck:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - name: Enable magic Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Shellcheck
        run: nix develop --command shellcheck $(find . -type f -name "*.sh" -executable)
